:root {
    --dark-blue500: #091B6F;
    --dark-blue400: #0D28A6;
    --dark-blue300: #5E70C4;
    --dark-blue200: #AEB7E1;
    --dark-blue100: #CFD4ED;
    --lime-green100: #DEF1DF;
    --lime-green200:#C9E7CA;
    --lime-green300: #92D094;
    --lime-green400: #5CB85F;
    --lime-green500: #3D7B3F;
    --bg-main: #F1F3FF;
    --bg-secondary: #0D28A6;
}


body {
	font-family: Arial, Helvetica, sans-serif !important;

}

header{
    background: #F1F3FF;
}


.bg-header {
    background-color: white !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}


.bg-dark-blue100 {
    background: var(--dark-blue100);
}

.bg-dark-blue200 {
    background: var(--dark-blue200);
}

.bg-dark-blue300 {
    background: var(--dark-blue300);
}

.bg-dark-blue400 {
    background: var(--dark-blue400);
}

.bg-dark-blue500 {
    background: var(--dark-blue500);
}

.bg-lime-green100 {
    background: var(--lime-green100);
}

.bg-lime-green200 {
    background: var(--lime-green200);
}

.bg-lime-green300 {
    background: var(--lime-green300);
}

.bg-lime-green400 {
    background: var(--lime-green400);
}

.bg-lime-green500 {
    background: var(--lime-green500);
}

.bg-main {
    background: var(--bg-main);
}
.w-full {
    width: 100%;
}

.w-half {
  width: 50%;
}
 
.h-half {
    height: 50%;
}

.h-full {
    height: 100%;
}

.btn-color-theme{
	color: white !important;
	background-color: #5CB85F;
}

a:hover{
	color: gray !important;
}
       
.btn-outline-theme {
	font-family: "Open Sans";
	color: black !important; 
	font-weight: bold;

}

.navbar-brand {
    font-weight: bold;
}

.nav-link:not(.btn) {
    color: black !important;
}

.navbar-toggler {
    border: none;
    outline: none;
}


.navbar .navbar-nav li{
	font-size: 14px;
  display: flex;
  list-style: none;
  justify-content: content-end;
}

.heroSection {
   padding-left: 9.44vw;
}

.heroSection h1{
    text-align: left;
}


.bg-theme{
	background-color: #F1F3FF;
}


.carousel-item .row .col-lg-10 .d-flex{
        position: relative;
}


.carousel-control {
    background-color: var(--lime-green400);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: .3em;
    position: static;
    opacity: 1;
}


.carousel-item .bg-testi{
    background-color: #F1F3FF;
    border-radius: 8px;
}


.banner{
	background-color: #0D28A6;
	height: 326px;
    width: 100%;
    left: 136px;
    top: 2078px;
    border-radius: 13px;
}

.banner h1{
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 54px;
	letter-spacing: 0em;
	text-align: center;
	padding: 30px;
	color: #FFFFFF !important;

}

.banner p{
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
	color: #FFFFFF !important;

}

.accordion {
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
.accordion:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}


.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

@media (max-width:992px) {

    #car-container {
        border-top-right-radius: 10em;
        bottom: -10% !important;
        right: 50%;
        transform: translateX(50%);
    }

    #car-image {
        bottom: 10%;
        width: 100%;
    }

    .w-lg-full {
        width: auto;
    }


}

@media (max-width:425px) {
    #car-container {
        bottom: -30% !important;
    }
}

@media (min-width : 992px) {
  .offcanvas {
    visibility      : visible;
    position        : relative;
    background      : none;
    border          : none;
    justify-content : end;
    color           : red;
  }
}
@media (max-width : 992px) {
  .offcanvas {
    width : 250px !important;
  }
  .offcanvas-start-lg {
    top          : 0;
    left         : 0;
    border-right : 1px solid rgba(0, 0, 0, .2);
    transform    : translateX(-100%);
  }
}
.navbar-nav li a {
  color: white !important;
}